// https://www.realtimecolors.com/?colors=0c1918-f4fafa-61b6ad-d7a8bb-c09578&fonts=Inter-Inter

// $text: #0c1918;
// $background: #f4fafa;
// $primary: #61b6ad;
// $secondary: #d7a8bb;
// $accent: #c09578;

//https://www.realtimecolors.com/?colors=07090b-f9fafb-6985a1-c8bea8-98b98f&fonts=Inter-Inter

//$text: #07090b;
//$background: #f9fafb;
//$primary: #6985a1;
//$secondary: #c8bea8;
//$secondary-light: #ebe8e0;
//$accent: #98b98f;

//https://www.realtimecolors.com/?colors=080507-fbf8fa-956c8d-c9b4ba-9db481&fonts=Inter-Inter

$text: #080507;
$background: #fbf8fa;
$primary: #956c8d;
$primary-dark: #6e4560;
$secondary: #c9b4ba;
$secondary-light: #eae1e4;
$red: #bf2929;
