// https://www.realtimecolors.com/?colors=0c1918-f4fafa-61b6ad-d7a8bb-c09578&fonts=Inter-Inter

// $text: #0c1918;
// $background: #f4fafa;
// $primary: #61b6ad;
// $secondary: #d7a8bb;
// $accent: #c09578;

$text: #07090b;
$background: #f9fafb;
$primary: #6985a1;
$secondary: #c8bea8;
$secondary-light: #f5f3ef;
$accent: #98b98f;
